<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
  <!--目标类-->
  <bean id="someService" class="cn.spring.day21aspectjxml.SomeService"></bean>
 <!--增强-->
  <bean id="myAspect" class="cn.spring.day21aspectjxml.MyAspect"></bean>
<!--AOP config的配置-->
  <aop:config>
    <!--切点表达式-->
     <aop:pointcut id="mypoint" expression="execution(* *..*.day21aspectjxml.*.*(..))"></aop:pointcut>
    <!--切面-->
    <aop:aspect ref="myAspect">
     <!--前置增强-->
       <aop:before method="myBefore" pointcut-ref="mypoint"></aop:before>
      <!--后置增强-->
      <aop:after-returning method="myAfterReturning" pointcut-ref="mypoint"></aop:after-returning>
     </aop:aspect>
  </aop:config>
</beans>


















