<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  <!--目标类-->
  <bean id="someService" class="cn.spring.day19auto02.SomeService"></bean>
  <!--目标类-->
  <bean id="anyService" class="cn.spring.day19auto02.AnyService"></bean>
  <!--2.增强类：：：：：通知-->
  <bean id="beforeAdvice" class="cn.spring.day19auto02.MyBeforeAdvice"></bean>

  <!--3.使用顾问去包装通知   ::::正则方法切入点顾问-->
  <bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
    <property name="advice" ref="beforeAdvice"></property>
    <property name="patterns" value=".*add.*"></property>
  </bean>

  <!--自动代理方式二：BeanNameAutoProxycreator-->
 <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
   <property name="interceptorNames" value="myAdvisor"></property>
   <property name="beanNames" value="someService,anyService"></property>
 </bean>
  
</beans>


















