<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis大配置文件 configuration-->
<configuration>
     <!--位置-->
    <!--关联properties-->
    <properties resource="jdbc.properties"></properties>
    <settings>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
    </settings>
    <typeAliases>
       <!-- <typeAlias type="cn.happy.entity.Student" alias="Student"></typeAlias>
        <typeAlias type="cn.happy.entity.Result" alias="Result"></typeAlias>-->
        <!--该包下类的简单名称（只有类名，没有包名）作为别名使用-->
        <package name="cn.happy.entity"></package>
    </typeAliases>

    <!--环境-->
    <environments default="development">
        <!--一个环境-->
        <environment id="development">
            <!--事务ACID Mybatis 帮我们管理事务-->
            <transactionManager type="JDBC"/>
            <!--数据源-->
            <dataSource type="POOLED">
                <!--驱动-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--连接字符串-->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--关联小配置-->
        <mapper resource="cn/happy/mapper/IStudentDAO.xml"/>
        <mapper resource="cn/happy/mapper/IResultDAO.xml"/>
    </mappers>
</configuration>